@font-face{
  font-family: "Comfortaa";
  src: url("Comfortaa.ttf");
}

@font-face{ /*Roboto thin*/
  font-family: "Roboto";
  font-weight: 100;
  font-style: normal;
  src: url("Roboto/Roboto-Thin.ttf");
}@font-face{
  font-family: "Roboto";
  font-weight: 100;
  font-style: italic;
  src: url("Roboto/Roboto-ThinItalic.ttf");
}
@font-face{ /*Roboto light*/
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  src: url("Roboto/Roboto-Light.ttf");
}@font-face{
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
  src: url("Roboto/Roboto-LightItalic.ttf");
}
@font-face{ /*Roboto normal*/
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url("Roboto/Roboto-Regular.ttf");
}@font-face{
  font-family: "Roboto";
  font-weight: 400;
  font-style: italic;
  src: url("Roboto/Roboto-Italic.ttf");
}
@font-face{ /*Roboto medium*/
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: url("Roboto/Roboto-Medium.ttf");
}@font-face{
  font-family: "Roboto";
  font-weight: 500;
  font-style: italic;
  src: url("Roboto/Roboto-MediumItalic.ttf");
}
@font-face{ /*Roboto bold*/
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: url("Roboto/Roboto-Bold.ttf")
}@font-face{
  font-family: "Roboto";
  font-weight: 700;
  font-style: italic;
  src: url("Roboto/Roboto-BoldItalic.ttf");
}
@font-face{ /*Roboto black*/
  font-family: "Roboto";
  font-weight: 900;
  font-style: normal;
  src: url("Roboto/Roboto-Black.ttf")
}@font-face{
  font-family: "Roboto";
  font-weight: 900;
  font-style: italic;
  src: url("Roboto/Roboto-BlackItalic.ttf");
}

a:link{
  padding: 2px;
  color: rgb(0,116,232);
}a:visited{
  color: #9932CC;
}a:hover, a:focus-visible{
  text-decoration: underline double;
  outline:0;
}a:active{
  color: #DC143C;
}
/* link accessibility because outline isn't universal*/
a:link:before{
  content: '';
  display: block;
  padding: 2px;
  border: 2px solid rgba(0,0,0,0);
  position: absolute;
  top:-2px;
  right:-2px;
  left:-2px;
  bottom:-2px;
  border-radius: 5px;
}a:focus-visible:before{
  border-color: rgb(0,116,232);
}

*{
  box-sizing: border-box;
  position: relative;
}

html{
  font-size: 16px;
}

body{
  font-size: 100%;
  margin:0;
  min-height: 100vh;
}

header{
  text-align: center;
}header a.logo{
  font: bold 1.5em/1.5em comfortaa, sans-serif;
}header h1{
  border-bottom: none;
  margin:0;
}

/* header and nav links */
header a.logo:link, header a.logo:visited,
nav li a:link, nav li a:visited{
  color: #000000;
  text-decoration: none;
  padding: 2px 4px;
}header a.logo:hover, header a.logo:focus-visible,
nav li a:hover, nav li a:focus-visible{
  outline: 0;
  text-decoration: underline 2px;
}header a.logo:active, nav li a:active{
  text-decoration: none;
}

header a.logo:focus-visible:before,
nav li a:focus-visible:before{
  border-color: rgba(0,0,0,0);
}

nav button[onclick="toggleNav()"]{
  display: block;
  width: 100%;
  border-radius:0;
  height: 2em;
  background-color: #000000;
  color: white;
  border:0;
}

nav ul[role="menubar"].open{
  min-height: calc(100vh - 9.5em);
  animation: 2s min-max-height 1;
  animation-direction: reverse;
  max-height: initial;
  overflow: hidden;
}

nav ul[role="menubar"]{
  z-index:1;
  background-color: #ffffff;
  position: relative;
  transition: min-height 1s;
  min-height: 0;
  max-height: 0;
  overflow: hidden;
  margin: 0;
  padding:0;
}nav ul[role="menubar"] li{ /*change this*/
  list-style: none;
  display: block; 
  line-height: 1.5;
  padding: 2px 4px;
}nav ul[role="menubar"] li a{
  font: bold 1.2em comfortaa, sans-serif;
  display: block;
}nav ul[role="menubar"] li a[href="javascript:void(0)"]:after{
  content:''/*▼*/;
  border: .3em solid rgba(0,0,0,0);
  border-top: .4em solid #000000;
  border-bottom: 0;
  display: inline-block;
  vertical-align: top;
  height: 50%;
  position: relative;
  top: .4em;
}nav ul[role="menubar"] li a[href="javascript:void(0)"].rotate:after{
  transform: rotate(180deg);
}

nav ul[role="menubar"] li:hover > a[role="menuitem"]{
  text-decoration: underline;
}

/* dropdown menu */
nav ul[role="menubar"] li ul{
  padding:0;
  width: 100%;
  background-color: #ffffff;
  z-index:1;
  border-left: 2px solid #000000;
}

nav ul[role="menubar"] li ul li,
nav ul[role="menubar"] li ul li a{
  display: block;
}

h1,h2,h3,h4,h5,h6{
  font-family: comfortaa,sans-serif;
}h1{
  border-bottom: 1px solid black;
}

footer{
  border-top: 1px solid black;
  font: 1em comfortaa, sans-serif;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #ffffff;
}footer p{
  text-align: center;
  line-height: 1;
  white-space: nowrap;
}

main{
  border-top: 1px solid black;
  padding-bottom: 3em;
  margin: 0;
  font: 1em/1.3 roboto, sans-serif;
  transition: 1s opacity;
}

main.close{
  opacity: 0;
  animation: 1s min-max-height 1;
  max-height: 0;
  overflow: hidden;
}

main > article{
  width: 90%;
  max-width: 65rem;
  margin: 1em auto;
}

@media screen and (min-width: 35em){
  nav button[onclick="toggleNav()"]{
    display: none;
  }
  nav ul[role="menubar"].open{
    min-height: initial;
    border-bottom:0;
    overflow: visible;
  }
  nav ul[role="menubar"]{
  text-align: center;
  max-width: 100%;
  max-height: 90%;
  display: block;
  height: initial;
  position: relative;
  top:initial;
  left:initial;
  right:initial;
  margin: 0 auto;
  overflow: visible;
}
  nav ul[role="menubar"] li{
    display: inline-block;
    vertical-align: top;
  }
  nav ul[role="menubar"] li ul{
    overflow: visible;
    height: initial;
    position: absolute;
    top: 28.5px;
    left: 0;
    right:0;
    text-align: left;
    border: 1px solid black;
    border-top-color: rgba(0,0,0,0);
    padding:0;
  }
  main.close{
    display: block;
    position: relative;
    max-height: initial;
    opacity: 1;
    overflow: visible;
    animation: none;
  }
}

@keyframes min-max-height{
  0%{
    max-height: initial;
  }
  100%{
    max-height: 0;
  }
}