html{
  overflow:auto;
}

@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');

.alegreya{
  font-family: 'Alegreya', serif;
  font-size: 12pt;
}
.sans-serif{
  font-family: Helvetica, Arial, sans-serif;
}

html.open-nav{
  min-height: 100vh;
  overflow: hidden;
}

body{
  margin:0;
  font-family: Lucinda Sans Unicode, sans-serif;
  font-size: 11pt;
  line-height: 1.5;
  min-height: 100vh;
  background-color: #191819;
  color: #f6f4f2;
  height: 100%;
  overflow-Y: hidden;
}

.open-nav body{
  border-right: var(--scrollbarWidth) solid transparent;
}

.light body, .light body *:not(nav):not(nav *):not(header):not(header *){
  background-color: #f6f4f2;
  color:black;
}
.light #light-switch button{background-color: #f6f4f2;}
.light #light-switch button:after{
  content: 'on';
  left: 0;
}
.light nav footer p{color:#f6f4f2}
.light nav footer a:link{color: #52A8FF}
.light nav footer a:visited{color:#FF61FF}
.light a:link{color:rgb(0,102,204)}
.light a:visited{color:#551a8b}


*{
  position: relative;
  box-sizing: border-box;
}

header{
  position: absolute;
  height: 60px;
  margin:0;
  background-color: #4b5668;
  top: 0;
  right:0;
  left:0;
  overflow: hidden;
  z-index: 10;
  transition: height .5s;
}

html.open-nav header{
  position: fixed;
  right: var(--scrollbarWidth);
}

a.logo:link, a.logo:visited{
  font-size: 30px;
  padding-left: 10px;
  max-width: 120px;
  text-decoration: none;
  font-weight: bold;
  color: #efa24d;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  top:0;
  bottom: 0;
  margin:0;
  line-height: 30px;
  vertical-align: middle;
  display: inline-block;
}

a.logo:hover, a.logo:focus{
  color: #f6f4f2;
  outline: none;
}

#light-switch{
  float: right;
  width: 60px;
  margin-right: 60px;
  padding:0;
  color: #f6f4f2;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
}

#light-switch button{
  display: inline-block;
  box-sizing: border-box;
  height: 2em;
  width: 4em;
  border-radius: 1em;
  border:0;
  vertical-align: top;
  background-color: #191819;
}

#light-switch button:focus-visible{
  outline:0;
  border-color: #efa24d;
}

#light-switch button:focus-visible:after, #light-switch button:hover:after{
  background-color: #efa24d;
  color: black;
}

#light-switch button:after{
  content: '';
  height: 2em;
  width: 2em;
  background-color: black;
  color: white;
  border-radius: 1em;
  border:0;
  position: absolute;
  top:0;
  transition: left .5s;
  line-height: 2em;
  text-align: center;
  padding:0;
  margin:0;
  vertical-align: middle;
  font-size: 1em;
  content: 'off';
  left: 50%;
}

nav{
  position: absolute;
  right:0;
  text-align: right;
  top:0;
  overflow: hidden;
  width: 60px;
  display: block;
  height: 60px;
  z-index: 10;
  transition: width .5s, height .5s;
}

html.open-nav nav{
  bottom: 0;
  position: fixed;
  z-index: 10;
  right: var(--scrollbarWidth);
}

nav button[aria-haspopup] {
  background-color: black;
  color: white;
  font-family: times, georgia, serif;
  line-height: 60px;
  vertical-align: middle;
  height: 60px;
  width: 60px;
  text-align: center;
  font-size: 30px;
  padding:0;
  margin:0;
  border: 0;
  z-index: 100; 
}

nav button[aria-haspopup]:focus-visible, nav button[aria-haspopup]:hover{
  background-color: #efa24d;
  border-color: #efa24d;
  outline: 0;
  color: black;
}

#navmenu{
  position: fixed;
  right:0;
  top: 60px;
  text-align: left;
  padding:0;
  margin:0;
  white-space: nowrap;
  overflow-Y: hidden;
  overflow-X: hidden;
  border-top: 1px inset #f6f4f2;
  height:0;
  width:0;
  transition: background-color .3s, width .3s, height .3s;
}

html.open-nav #navmenu{
  display: block;
  right: var(--scrollbarWidth);
  overflow-Y: auto;
  height: calc(100vh - 60px);
  height: calc(100 * var(--vh) - 60px);
  width: 22em;
  max-width: 100%;
  background-color: #4b5668;
}

#navmenu > p{
  height:0;
  overflow:hidden;
  margin:0;
  padding:0;
}

#navmenu footer{
  display: block;
}

#navmenu ul{
  display: inline-block;
  padding:0;
  margin:0;
  width: 100%;
  min-height: calc(100% - 5em)
}

#navmenu li{  
  padding:0;
  margin:0;
  list-style:none;
  border-bottom: 1px outset #e1cfc3; 
}

#navmenu > ul > li > a{
  display: block;
  line-height: 3em;
  padding: 0 1em;
  text-decoration: none;
  color: #e1cfc3;
  width: 100%;
  border:0;
  background-color: transparent;
  text-align: left;
  font-size: 1em;
  cursor: pointer;
  font-family: inherit;
}

#navmenu > ul > li > a:not([href]):after{
  content: '';
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: #191819;
  opacity: .2;
}

#navmenu > ul > li > a[href]:hover, #navmenu > ul > li > a[href]:focus, #navmenu > ul > li > button[onclick]:hover, #navmenu > ul > li > button[onclick]:focus{
  background-color: #efa24d;
  color: #000000;
  outline: none;
}

a:link{
  color: #52A8FF;
}a:visited{
  color: #FF61FF; /*#F27DC7*/
}a:hover, a:focus{
  text-decoration: underline double;
}a:active{
  color: #FF8060;
}

main{
  padding-top: 60px;
  padding-bottom: 5em;
}

main article{
  margin: 1em auto;
  width: 90%;
  max-width: 60em;
  display: block;
}

main article h1{
  font-size: 2em;
  margin:0;
}

body > footer{
  position: absolute;
  left:0;
  bottom:0;
  right:0;
  height: 4em;
  padding-top: 1em;
  margin:0;
  border-top: 1px inset #f6f4f2;
}

#navmenu > footer{
  height: 4em;
  padding-top: 1em;
  margin:0;
  border-top: 1px inset #f6f4f2;
  position: absolute;
  bottom:0;
  right:0;
  left:0;
}
body > footer p, #navmenu > footer p{
  margin:0;
  text-align: center;
  white-space: nowrap;
}

#stickybtn{
  position: fixed;
  background-color: black;
  color: white;
  border: 0;
  height: 60px;
  width: 60px;
  line-height: 60px;
  vertical-align: middle;
  text-align: center;
  top: 0;
  right: 0;
  opacity: .4;
  font-family: times, georgia, serif;
  font-size: 30px;
  transition: opacity .5s;
}
#stickybtn:hover{
  background-color: #efa24d;
  color: #191819;
  opacity: 1;
}
.open-nav #stickybtn{
  display: none;
}

@media (prefers-color-scheme: light){
  html:not(.dark) body,html:not(.dark) body *:not(nav):not(nav *):not(header):not(header *){
    background-color: #f6f4f2;
    color:black;
  }
  html:not(.dark) a:link{color:rgb(0,102,204)}
  html:not(.dark) a:visited{color:#551a8b}
  html:not(.dark) nav footer p{color:#f6f4f2}
  html:not(.dark) nav footer a:link{color: #52A8FF}
  html:not(.dark) nav footer a:visited{color:#FF61FF}
  html:not(.dark) #light-switch button{background-color: #f6f4f2;}
  html:not(.dark) #light-switch button:after{
    content: 'on';
    left: 0;
  }
}